<main class="w-full flex flex-col box-border relative">
  <header class="flex justify-around w-full mb-3">
    <h1 class="text-3xl font-bold font-inter">Perfil AI Game</h1>
    @if (hasSession) {
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="signOut()"
    >
      Sign out
    </button>
    } @else {
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="signInWithGoogle()"
    >
      Sign in with Google
    </button>
    }
  </header>
  <section class="flex">
    @if (hasSession) {
    <app-home />
    }
  </section>
</main>

<router-outlet></router-outlet>
