<main class="w-full flex p-4 box-border relative">
  <div class="flex justify-around w-full mb-3">
    <h1 class="text-3xl font-bold font-inter">Perfil AI Game</h1>
    @if (hasSession) {
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="signOut()"
    >
      Sign out
    </button>
    } @else {
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="signInWithGoogle()"
    >
      Sign in with Google
    </button>
    }
  </div>
</main>

<router-outlet></router-outlet>
